#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div {
  margin: 2em;
}

.form-item {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.input-error {
  border: 2px solid red;
}

.content {
  min-height: 400px;
}


/* ##################### Animated Transitions Start  */


@keyframes grow {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animated-entry {
  animation: grow 0.2s linear forwards;
}

@keyframes shrink {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

.animated-exit {
  animation: shrink 0.2s linear forwards;
}


/* ##################### Animated Transitions End  */