#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div {
  margin: 2em;
}

.form-item {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.input-error {
  border: 2px solid red;
}

.content {
  min-height: 400px;
}
